pip-tools

cookiecutter
sh
binaryornot

# Linters
pre-commit
yamllint
restructuredtext-lint
# Pygments is required for restructuredtext-lint but is not being installed with it
pygments
mypy

wemake-python-styleguide
flake8-django
yesqa


# Test tools
pytest
pytest_cases
pytest-cookies
PyHamcrest


# Testing
# ------------------------------------------------------------------------------
tox
pyyaml


# Additional dependencies from internal project template - may be needed for some tests
pytz
python-slugify
Pillow
rcssmin
argon2-cffi
whitenoise
redis
celery
flower
environs[django]
django<3.0
django-model-utils
django-allauth
django-compressor
django-redis
djangorestframework
coreapi
pytest-cov
pytest-django
model-mommy
Werkzeug
ipdb
Sphinx
psycopg2-binary
pylint-django
pylint-celery
django-debug-toolbar
django-extensions
django-coverage-plugin
gunicorn
Collectfast
sentry-sdk
django-storages[boto3]
django-storages[google]
django-anymail[mailgun]
