cookiecutter==1.6.0
sh==1.12.14
binaryornot==0.4.4

# Code quality
# ------------------------------------------------------------------------------
black
flake8

# Testing
# ------------------------------------------------------------------------------
tox==3.9.0
pytest
pytest_cases
pytest-cookies
pyyaml==5.1
